go 1.25.5

use (
	.
	./catrate
	./fangrpcstream
	./floater
	./grpc-proxy
	./jsonenc
	./logiface
	./logiface-logrus
	./logiface-stumpy
	./logiface-testsuite
	./logiface-zerolog
	./longpoll
	./microbatch
	./prompt
	./smartpoll
	./sql
	./sql/export/mysql
)
