go 1.23

toolchain go1.23.0

use (
	.
	./catrate
	./fangrpcstream
	./jsonenc
	./logiface
	./logiface-logrus
	./logiface-stumpy
	./logiface-testsuite
	./logiface-zerolog
	./longpoll
	./microbatch
	./prompt
	./smartpoll
	./sql
	./sql/export/mysql
)
