name: Make
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Configure `number_of_cpus` (Linux)
        if: runner.os == 'Linux'
        run: |
          v="$(nproc)" &&
          [ ! -z "$v" ] &&
          printf 'number_of_cpus=%d\n' "$v" >>"$GITHUB_ENV"
      - name: Configure `number_of_cpus` (macOS)
        if: runner.os == 'macOS'
        run: |
          v="$(sysctl -n hw.ncpu)" &&
          [ ! -z "$v" ] &&
          printf 'number_of_cpus=%d\n' "$v" >>"$GITHUB_ENV"
      - name: Configure `number_of_cpus` (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          $v = (Get-CimInstance -ClassName Win32_Processor).NumberOfLogicalProcessors
          echo "number_of_cpus=$v" >> $env:GITHUB_ENV
      - name: Configure `make_command` (Linux/macOS)
        if: runner.os != 'Windows'
        run: |
          printf \
            'make_command=make -j %d\n' \
            "$number_of_cpus" \
          >>"$GITHUB_ENV"
      - name: Configure `make_command` (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          echo "make_command=make -j $env:number_of_cpus" >> $env:GITHUB_ENV
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - name: Install make (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          choco install make -y
      - name: Run the build (Linux/macOS)
        if: runner.os != 'Windows'
        run: ${{ env.make_command }}
      - name: Run the build (Windows)
        if: runner.os == 'Windows'
        shell: bash
        run: ${{ env.make_command }}
